body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #FFA500;
    color: #fff;
    text-align: center;
    padding: 20px;
}

section {
    padding: 40px;
}

h2 {
    color: #FFA500;
}
header {
    background-color: #FFA500;
    color: #fff;
    text-align: center;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-picture {
    max-width: 250px; /* Set the maximum width of the image */
    max-height: 150px; /* Set the maximum height of the image */
    border-radius: 50%; /* Add a rounded border for a circular profile picture */
    object-fit: cover; /* Maintain aspect ratio and cover the entire container */
    margin-right: 25px; /* Adjust the spacing between the image and text */
}

.picture {
    max-width: 250px; /* Set the maximum width of the image */
    max-height: 150px; /* Set the maximum height of the image */
    object-fit: cover; /* Maintain aspect ratio and cover the entire container */
    margin-right: 25px; /* Adjust the spacing between the image and text */
}

/* Style for navigation buttons */

.navigation-buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.navigation-buttons a {
    text-decoration: none;
    color: black; /* Set the color to black */
    padding: 10px 20px;
    border-radius: 5px;
}

.navigation-buttons a:hover {
    background-color: #333; /* Change the background color on hover */
    color: white; /* Change text color on hover */
}

.header-content {
    text-align: left; /* Align the text to the left within the header */
}
