body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #FFA500;
    color: #fff;
    text-align: center;
    padding: 20px;
}

section {
    padding: 40px;
}

h2 {
    color: #FFA500;
}
header {
    background-color: #FFA500;
    color: #fff;
    text-align: center;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-picture {
    max-width: 250px; /* Set the maximum width of the image */
    max-height: 150px; /* Set the maximum height of the image */
    border-radius: 50%; /* Add a rounded border for a circular profile picture */
    object-fit: cover; /* Maintain aspect ratio and cover the entire container */
    margin-right: 25px; /* Adjust the spacing between the image and text */
}

.header-content {
    text-align: left; /* Align the text to the left within the header */
}
